$do-height: 380px

@media screen and ( max-width: 1400px )
    .promo
        &__content
            margin-top: 130px
        &__progress
            margin-top: 130px
            width: 100%
        &__progress-item
            width: calc( 25% - 30px )
        &__progress-bar
            width: 100%
    .card
        &_photo
            width: auto
        &__item
            width: 30%
        &__inner
            width: 100%
        &__img
            width: 100%
            img
                width: 100%
    .work
        height: auto
    .do
        &__content-wrapper
            height: $do-height
        &__photo
            width: auto
            height: $do-height
        &__photo-descr-wrapper
            width: 50%
        &__dropdown
            width: 100%
            flex-wrap: nowrap
        &__dropdown-content_active
            max-height: 170px
    .facts
        &__item
            width: 200px

    .logos
        padding: 0
        height: 132px
        &__wrapper
            flex-wrap: wrap

    .team
        min-height: 725px

    .blog
        &__wrapper
            justify-content: space-between
            width: 100%
        &__item
            margin-right: 0
            width: 30%
        &__image
            height: 200px
        &__calendar
            top: 120px
    
    .footer
        &__content
            width: 100%
            justify-content: space-between
        &__subcontent
            width: 100%
        &__item
            margin-left: 0
        &_subscribe
            width: 400px