@media screen and ( max-width: 576px )
    .logos
        &__wrapper
            width: auto
    .promo
        &__content
            margin-top: 60px
        &__template
            font-size: 40px
        &__divider
            margin-top: 50px
        &__welcome
            font-size: 50px
            line-height: 50px
        &__more
            width: 120px
            height: 30px
            font-size: 11px
        &__progress
            display: none
    .feauture
        &__tablet
            width: 200px
    .facts
        height: auto
        &__wrapper
            flex-wrap: wrap
        &__item
            padding-bottom: 10px
            flex-basis: 100%
            border-left: none
            border-bottom: 1px solid #fff
        &__text
            margin-top: 0
    .title
        font-size: 24px
    .about
        padding: 50px 0
    .text
        width: 100%
        text-align: left 
    .service
        padding: 50px 0
        &__item
            flex-basis: 80%
            margin-bottom: 30px
            margin-top: 0
            &:nth-child(n)
                margin-top: 0
            &:nth-last-child(1)
                margin-bottom: 0
    .feauture
        min-height: 450px
        padding: 50px 0
        &__phone
            height: 200px
            bottom: -40px
    .card
        margin-top: 50px
    .do
        padding: 50px 0
        &__content-wrapper
            margin-top: 50px
    .citation
        padding: 0
        min-height: auto
    .team
        padding: 50px 0
        padding-top: 70px
    .work
        padding-top: 50px
        .text
            width: 80%
        &__text-icon
            margin-bottom: 5px
        &__text-title
            margin-bottom: 5px
            font-size: 10px
        &__text-subtitle
            line-height: 1.1
            font-size: 10px
        