$dividerAuthor: 70px;
$arrowsMargin: 75px

.owl-prev i, .owl-next i 
    color: #ccc;

.owl-prev, .owl-next 
    width: 12px !important
    height: 22px !important
    position: absolute;
    top: 50%;
    // transform: translateY(-50%)
    margin-top: -10px;
    i
        font-size: 40px

.owl-prev 
    left: -50px;

.owl-next 
    right: -50px;

.owl-dots
    height: 0

.slider
    width: 978px
    margin: 0 auto
    display: flex
    justify-content: center
    align-items: center
    &__all-content-wrapper
        position: relative
        // overflow: hidden
    &__content-wrapper
        transition: 1s all
        opacity: 1
        align-items: center
        display: flex
    &__icon
        width: 150px
        height: 150px
        margin-right: 60px
    &__icon-img
        width: 100%
        height: 100%
        &_second-comments
            width: 100%
            height: 100%
            border-radius: 100%
    &__text-wrapper
        display: flex
        flex-direction: column
        width: 760px
    &__text
        color: #999999
        font-family: "Roboto"
        font-style: italic
        font-size: 24px
        font-weight: 400
        line-height: 36px
    &__author
        position: relative
        margin-top: 23px
        color: #333333
        font-family: "Kaushan Script"
        font-size: 24px
        font-weight: 400
        margin-left: $dividerAuthor
        &::before
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: -10%
            content: ""
            width: 60px
            height: 3px
            background-color: #f38181
