.footer
    padding: 74px 0 22px 0
    height: 560px
    background-color: #f8f8f8
    &__subcontent
        margin: 0 auto
        width: 1200px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-top: 68px
    &__content
        margin: 0 auto
        width: 1200px
        display: flex
    &__item
        display: flex
        flex-direction: column
    &__subscribe
        width: 462px
    &__subscribe-title
        color: #cccccc
        font-family: Montserrat
        font-size: 46px
        font-weight: 700
    &__subscribe-text
        color: #999999
        font-family: Roboto
        font-size: 15px
        font-weight: 400
        line-height: 24px
        margin-top: 42px
    &__followers
        display: flex
        margin-top: 49px
        align-items: center
    &__followers-number
        color: #333333
        font-size: 18px
        font-weight: 700
    &__followers-text
        color: #333333
        font-size: 14px
        font-weight: 400
        margin-left: 3px
    &__subscribe-hr
        margin: 18px 0
    &__follow
        display: flex
        width: 306px
    &__follow-text
        color: #999999
        font-family: "Roboto"
        font-style: italic
        font-size: 15px
        font-weight: 400
        line-height: 24px
        margin-right: 5px
    &__follow-wrapper
        width: 219px
        display: flex
        justify-content: space-between
        align-items: center
    &__follow-item-icon
        color: #95e1d3 !important 

    &__blogs
        width: 333px
        margin-left: 49px
        display: flex
        flex-direction: column
        justify-content: space-between

    &__blogs-title
        color: #333333
        font-family: Montserrat
        font-size: 14px
        font-weight: 700
        text-transform: uppercase

    &__blogs-content
        display: flex
        flex-direction: column
        margin-top: 40px
        height: 300px
        justify-content: space-between

    &__blogs__item
        display: flex
        justify-content: space-between
        align-items: flex-end

    &__blogs__text
        margin-left: 20px
        margin-bottom: 7px

    &__blogs__text-title
        color: #333333
        font-size: 11px
        font-weight: 700
        line-height: 18px
        text-transform: uppercase

    &__blogs__text-date
        color: #999999
        font-family: "Roboto"
        font-style: italic
        font-size: 13px
        font-weight: 100
        line-height: 24px

    &__instagram
        max-width: 270px
        margin-left: 85px

    &__instagram-title
        color: #333333
        font-family: Montserrat
        font-size: 14px
        font-weight: 700
        text-transform: uppercase
        
    &__instagram-content
        margin-top: 40px
        display: flex
        flex-wrap: wrap
    
    &__instagram__item
        display: flex
        margin-right: 2px
        margin-bottom: 2px
        &:nth-child(3n)
            margin-right: 0
        &:nth-child(n+7)
            margin-bottom: 0
    
    &__instagram-more
        color: #333333
        font-family: "Roboto"
        font-style: italic
        font-size: 13px
        font-weight: 100
        line-height: 24px
        margin-top: 20px
        

