.work
    height: 1191px
    padding-top: 110px
    &__inner
        margin-top: 102px
        display: flex
    &__col
        flex: 1 1 0
    &__image
        display: block
        opacity: 1
        transition: opacity 0.2s linear
        max-width: 100%
        height: auto
    &__item
        position: relative
        background: linear-gradient(to bottom, #f38181, #fce38a)
        &:hover
            .work__image
                opacity: 0.1
            .work__text-wrapper
                opacity: 1
    &__text-wrapper
        position: absolute
        top: 50%
        left: 50%
        transform: translate3d(-50%, -50%, 0)
        text-align: center
        opacity: 0
        transition: opacity 0.2s linear
    &__text-icon
        margin-bottom: 20px
    &__text-title
        color: #ffffff
        font-family: Montserrat
        font-size: 14px
        font-weight: 400
        text-transform: uppercase
        margin-bottom: 17px
    &__text-subtitle
        color: #ffffff;
        font-style: italic;
        font-family: "Roboto";
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;